@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  //   background-color: lightblue;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  min-height: 80vh;
  width: 35rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 0rem 5rem;

  .icecream img {
    width: 20rem;
  }
}
